---
pgpool2_version: 4.7
pgpool2_port: 9999
pgpool2_pcp_port: 9898
pgpool2_watchdog_enabled: "{{ (groups.pgpool2 | length) >= 2 }}"
pgpool2_watchdog_port: 9000
pgpool2_heartbeat_port: 9694
pgpool2_virtual_ip: 192.168.56.201
pgpool2_virtual_hostname: vip-1
pgpool2_ssh_key_type: rsa
pgpool2_ssh_key_filename: id_{{ pgpool2_ssh_key_type }}
pgpool2_encryption_key: pgpool
pgpool2_pcp_user: postgres
pgpool2_pcp_password: postgres
pgpool2_monitor_role: monitor
pgpool2_monitor_password: monitor
