---
- name: Checking if Locale Data is Installed
  command:
    cmd: localectl list-locales
  register: _localectl
  changed_when: false
- name: Enabling CentOS Vault Repository
  replace:
    path: /etc/yum.repos.d/CentOS-Base.repo
    regexp: "{{ item.regexp }}"
    replace: "{{ item.replace }}"
  loop:
    - regexp: ^(mirrorlist=.+)
      replace: '#\1'
    - regexp: ^#(baseurl=http://)mirror(\..+)
      replace: \1vault\2
  when: ansible_distribution_major_version is version('7', '<=')
- block:
    - name: Installing Locale Data
      yum:
        name: glibc-langpack-{{ system_locale.split('_')[0] }}
      when: ansible_distribution_major_version is version('8', '>=')
    - block:
        - name: Updating Locale Data
          yum:
            name: glibc-common
            state: latest
        - name: Reinstalling Locale Data
          command:
            cmd: yum -y reinstall glibc-common
      when: ansible_distribution_major_version is version('7', '<=')
  when: system_locale.split('.')[0] not in _localectl.stdout_lines
- name: Checking if System Locale is Set
  command:
    cmd: localectl status
  register: _localectl
  changed_when: false
- name: Setting System Locale
  command:
    cmd: localectl set-locale LANG={{ system_locale }}
  when: "_localectl.stdout is not search('System Locale: LANG=' + system_locale)"
- name: Checking if System Time Zone is Set
  command:
    cmd: timedatectl status
  register: _timedatectl
  changed_when: false
- name: Setting System Time Zone
  command:
    cmd: timedatectl set-timezone {{ system_timezone }}
  when: "_timedatectl.stdout is not search('Time zone: ' + system_timezone)"
- name: Installing ACL Utilities for Ansible become_user
  yum:
    name: acl
  when: ansible_distribution_major_version is version('10', '>=')
- name: Commenting Out 127.0.1.1 Entry from /etc/hosts File
  lineinfile:
    path: /etc/hosts
    regexp: ^(127\.0\.1\.1\s+.+)
    line: '#\1'
    backrefs: true
- name: Gathering Facts from All Hosts
  setup:
  delegate_to: "{{ item }}"
  delegate_facts: true
  loop: "{{ groups.all }}"
- name: Adding All Host Entries to /etc/hosts File
  blockinfile:
    path: /etc/hosts
    block: |
      {% for host in groups.all %}
      {{ hostvars[host]['ansible_' + public_interface].ipv4.address }} {{ hostvars[host].ansible_fqdn }} {{ host }}
      {% endfor %}
- name: Stopping and Disable Firewall Daemon
  service:
    name: firewalld
    state: stopped
    enabled: false
